<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>星级评论.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>634315D91E5A9D3800F35051</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>634315F21E5A9D3800F35051</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>634315FD1E5A9D3800F35051</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
