<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYTabBarController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>844CF3E21E810DC600D5E55B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844CF3FB1E810DC600D5E55B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844CF4061E810DC600D5E55B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
