<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OrderCheckurl</key>
	<string>http://gs.189.cn/iptvOpcp/wzyPayjson/queryOrder.action</string>
	<key>OrderInfourl</key>
	<string>http://gs.189.cn/iptvOpcp/wzyPayjson/queryOrder.action</string>
	<key>Paymethodurl</key>
	<string>http://gs.189.cn/iptvOpcp/wzyPayjson/wzyBay.action</string>
	<key>ScanPayurl</key>
	<string>http://gs.189.cn/iptvOpcp/wzyPayjson/wzyPay.action</string>
</dict>
</plist>
